@page "/login"

<PageTitle>Login</PageTitle>
<div>
    <blockquote class="instagram-media"
                data-instgrm-permalink="https://www.instagram.com/reel/DLfQvj0Aum4/?utm_source=ig_embed&amp;utm_campaign=loading"
                data-instgrm-version="14"
                style="background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px rgba(0,0,0,0.5), 0 1px 10px rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:calc(100% - 2px);">
    </blockquote>
</div>

<h1>Bem vinda ao nosso site, Luzinha! </h1>
bla bla bla xD
